#GENERATION#

ENV["LC_ALL"] = "en_US.UTF-8"

#VIMAGE#
#VMEMORY#
#VCPU#
#VCOUNT#
#NETPR#

Vagrant.configure("2") do |config|
    config.vm.provider "{{ Vprovider }}" do |v|
        v.memory = MEMORY
        v.cpus = CPU
    end

    (1..NODE_COUNT).each do |i|
        config.vm.define "node#{i}" do |subconfig|
        subconfig.vm.box = BOX_IMAGE
        subconfig.vm.hostname = "node#{i}.test.vm"
        subconfig.vm.network "public_network"
        subconfig.vm.network :private_network, ip: "NET_PREF.#{i + 10}"
        end
    end

    config.vm.provision "default", type: "shell", inline: <<-SHELL
      echo "-=PROVISION DEFAULT STAGE=-"
      sudo sed -i 's/PasswordAuthentication no/PasswordAuthentication yes/g' /etc/ssh/sshd_config
      sudo apt-get update
      sudo apt-get upgrade -qq
    SHELL

    config.vm.provision "base", type: "shell", inline: <<-SHELL
      echo "-=PROVISION BASE STAGE=-"
      sudo apt-get update
      sudo apt-get upgrade -qq
      sudo apt-get install mc
      sudo apt-get install git
    SHELL
