ENV["LC_ALL"] = "en_US.UTF-8"

BOX_IMAGE = "{{ Vimage }}" 
MEMORY = {{ Vmemory }} 
CPU = {{ Vcpu }}
NODE_COUNT = {{ Vcpu }}
NET_PREF = {{ Vnet }}

Vagrant.configure("2") do |config|
    config.vm.provider "{{ Vprovider }}" do |v|
        v.memory = MEMORY
        v.cpus = CPU
    end

    (1..NODE_COUNT).each do |i|
        config.vm.define "node#{i}" do |subconfig|
        subconfig.vm.box = BOX_IMAGE
        subconfig.vm.hostname = "node#{i}.test.vm"
        subconfig.vm.network "public_network"
        subconfig.vm.network :private_network, ip: "NET_PREF.#{i + 10}"
        end
    end

# Provisioning
    config.vm.provision "default", type: "shell", inline: <<-SHELL
      echo "-=PROVISION DEFAULT STAGE=-"
      sudo sed -i 's/PasswordAuthentication no/PasswordAuthentication yes/g' /etc/ssh/sshd_config
      sudo apt-get update
      sudo apt-get upgrade -qq
      {{ Vapp }}
    SHELL